language: julia
os:
    - linux
julia:
    - 0.6
    - 0.7
    - 1.0
    - nightly
notifications:
    email: false
matrix:
    allow_failures:
        - julia: nightly
sudo: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'if VERSION >= v"0.7" using Pkg; Pkg.add(pwd()) else Pkg.clone(pwd()) end'
    - julia -e 'if VERSION >= v"0.7" using Pkg end; Pkg.test("YAML", coverage=true)'
after_success:
    - julia -e 'if VERSION >= v"0.7" using Pkg end; cd(Pkg.dir("YAML")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'
